@import "tailwindcss";

@layer base {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    touch-action: none;
  }
}

html,
body,
#root {
  height: 100%;
}

body {
  touch-action: none;
  user-select: none;
}

img {
  -webkit-user-drag: none;
}

button {
  outline: none;
}